
body {
    background-color: royalblue;
}

/* Employee Predction Web App*/
#pagetitle {
    color: silver;
    font-size: 48px;
    text-align: center;
}

h1 {
    padding-left: 10px;
    color: black;
}

/* Fill forms*/
h2 {
    padding-left: 10px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    padding-left: 10px;
    color: black;
}

hr {
    width: 40%;
    position: absolute;
    left: 10px;
}

/* Employee Prediction Web App*/
label {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

p {
    padding-left: 20px;
    font-size: 20px;
    color: burlywood;
}

/* Please select your level of education*/
#degree {
    color: lightgray;
    font-size: 25px;
    padding-left: 10px;
}

#degreeheading {
    color: black;
}

#everBenched {
    padding-left: 10px;
}


button {
    margin: 0 auto;
    margin-left: 5px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid black;
    background: lightgray;
    text-align: center;
}
