
body {
    background-color: dodgerblue;
}

/* Employee Predction Web App*/
#pagetitle {
    color: silver;
    font-size: 48px;
    text-align: center;
}

h1 {
    padding-left: 10px;
    color: black;
}

/* Fill forms*/
h2 {
    padding-left: 10px;
    color: black;
}

h3 {
    padding-left: 10px;
    color: black;
}

/* Employee Prediction Web App*/
label {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

/* Please select your level of education*/
#degree {
    color: lightgray;
    font-size: 25px;
    padding-left: 10px;
}

#degreeheading {
    color: black;
}
